@model IEnumerable<EmployeeVacation>

<h1>All Vacations</h1>
@{
    int x = 0;
}
@if (@ViewBag.Alert != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class='alert alert-danger alert-dismissable' id='alert'>
                    <button type='button' class='close' data-dismiss='alert'>x</button>
                    <a>
                        <strong>
                            @Html.Raw(@ViewBag.Alert)
                        </strong>
                    </a>
                </div>

            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.SubmissionDate)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.VDateFrom)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.VDateTo)
                </th>
                <th scope="col">
                    More Info
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Raw(x = x + 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubmissionDate)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.VDateFrom)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.VDateTo)
                    </td>

                    <td>
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    </td>
                </tr>
            }


        </tbody>
    </table>
}
else
{
    <div>No Vacations</div>
}